
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.login-wrapper, .body, .login, .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-wrapper{
    /* background-color: white; */
    min-width: max-content;
    max-width: 95%;
    width: 20%;
}

.logo{
    img{
        height: 90px;
        width: 90px;
        object-fit: cover;
    }
    align-items: center;
}

h1 {
    color: #E02A26;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 900;
}

.signin{
    display: flex;
    flex-direction: row;
}

.register-href{
    color: #E02A26;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.error{
    width: 100%;
    text-align: left;
    font-size: small;
    color: red;
}

.login{
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.nickname, .password, .repeat-password, .enter{
    font-size: small;
    width: inherit;
    min-height: 30px;
    text-decoration: none;
}

input{
    border-style:solid;
    margin: 10px 0px;
    border-radius: 20px;
    border-color: gray;
    color: gray;
    padding: 5px 10px;
    outline-color:  #E02A26;
}

.pin {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 20px;
    img {
        border-radius: 50%;
        height:90px;
        width: 90px;
        object-fit: cover;
    }
    input {
        visibility: hidden;
    }
}

.enter{
    font-size: large;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 30px;
    margin: 10px 0px;
    background-color:  #E02A26;
    border: none;
    color: white;
    text-align: center;
}

.enter:hover, label:hover{
    cursor: pointer;
}

.back{
    width: 100%;
    font-size: medium;
    font-weight: 500;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px 10px;
    background-color: transparent;
    border: solid red 2px;
    color: red;
    text-decoration: none;
}

.base {
    background-color: rgb(230, 230, 230);
    @extend .base-container;
    display: flex;
    min-height: 320px;
    overflow: hidden;
}

.sidebar {
    min-width: max-content;
    height: inherit;
    padding: 40px;
    box-sizing: border-box;
}
.sidebar h1 {
    color:  #E02A26;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 900;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.sidebar ul li:hover{
    cursor: pointer;
    background-color: #0000000b;
}
.sidebar ul li i svg{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #000;
}
.content {
    height: inherit;
    flex-grow: 1;
    background-color: white;
    border-radius: 50px 0px 0px 0px;
    padding: 40px;
    box-sizing: border-box;
}
.content .teams-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.content .teams-top h2 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}
.content .green-button{
    height: max-content;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 30px;
    background-color:  #E02A26;
    color: white;
    border: none;
    font-weight: 500;
    white-space: nowrap;
}
.content .green-button:hover{
    cursor: pointer;
    opacity: 0.7;
}    
.content .show-completed {
    color:  #E02A26;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.content .show-completed input {
    margin-right: 10px;
}
.content .task-date {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.content .tasks{
    padding: 0 40px;
}
.content .task-item {
    align-items: center;
    margin-top: 10px;
}
input[type="checkbox"] {
    accent-color:  #E02A26;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: none;
  }
  
  
.content .task-item input {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.content .task-item .text-info{
    display: flex;
    flex-direction: column;
}
.content .task-item .task-title {
    font-size: 18px;
    white-space: nowrap;
}
.content .task-item .task-author {
    font-size: 14px;
    color: #888;
}

.teams{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1em;
    list-style-type: none;
    overflow-y: auto;
    padding: 20px;
}

.team-card{
    min-height: max-content;
    background-color: white;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.107);
    border-radius: 20px;
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.team-card .team-avatar{
    width: stretch;
    height: 140px;
    /* background-color:  #E02A26;*/
    border-radius: 20px;
    margin-bottom: 20px;
}

.team-card span{
    white-space: nowrap;
    font-weight: 700;
}