.Body {
    background-color: white;
    justify-content: flex-start;
  }
  
  .preview
  {
    background-color: black;
    background-size: 100%;
    width: 20rem;
    aspect-ratio: 3/4;
    border-radius: 30px;
    margin: 1%;
    .previewText
      {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 70%;
        border-radius: 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        height: 30%;
        background-color: rgba(0, 0, 0, 0.5); 
        color: white;
        transition: ease-in-out 0.5s;
        h2{
          font-size: 2vw;
          font-weight: bold;
          text-align: center;
        }
        p{
          font-size: 1vw;
          text-align: center;
          width: 90%;
          hyphens: auto;
        }
    }
  }
  
  
  
  .preview:hover{
    cursor: pointer;
    .previewText
    {
      opacity: 1;
    }
  }
  
  .containerNews
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    gap: 1rem;
  }
  
  h1
  {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
  }